<% 
const id = document._id;
const body = JSON.parse(document.body);
const slug = body.slug;
const title_en = body.title_en || '';
const title_zh = body.title_zh || '';
const shortDescription_en = body.shortDescription_en;
const shortDescription_zh = body.shortDescription_zh;
const date = body.date;
const time = body.time;
const url = body.url;
const location_en = body.location_en;
const location_zh = body.location_zh;
const file = body.file;
const longDescription_en = body.longDescription_en;
const longDescription_zh = body.longDescription_zh;
%>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yuxuan Lin | Dashboard | Edit Event</title>
  <%- include('../../partials/head') %>
</head>

<body class="dashboard">
  <%- include('../../partials/aside') %>
  <script>
    document.querySelector('aside .middle ul li:nth-child(2) a')
      .classList.add('active');
  </script>
  <main>
    <h1 class="secondary-header">Edit Event</h1>
    <a href="/event/<%= slug %>" class="edit-link" target="_blank">
      <%= slug %>
      <i class="fa-solid fa-up-right-from-square"></i>
    </a>
    <%- include('../../partials/form', {
				metadata: {
					method: 'put',
					action: '/dashboard/events/' + id,
					enctype: 'multipart/form-data',
					id: id,
					name: 'event'
				},
				fields: [
					{ name: 'title_en', required: true, value: title_en, label: 'title', role: 'slug-source' },
					{ name: 'title_zh', required: true, value: title_zh, label: '标题' },
					{ type: 'hidden', name: 'slug' },
					{ tag: 'textarea', name: 'shortDescription_en', label: 'short description', value: shortDescription_en, },
					{ tag: 'textarea', name: 'shortDescription_zh', label: '登月之旅', value: shortDescription_zh, },
					{ type: 'date', value: date },
					{ type: 'time', value: time },
					{ type: 'url', label: 'URL', value: url },
					{ name: 'location_en', label: 'location', value: location_en },
					{ name: 'location_zh', label: '位置', value: location_zh },
					{ type: 'file', label: 'image', file: file },
					{ tag: 'textarea', name: 'longDescription_en', label: 'long description', value: longDescription_en, },
					{ tag: 'textarea', name: 'longDescription_zh', label: '详细描述', value: longDescription_zh, },
				]
			}) %>
  </main>
</body>

</html>