<% 
const id = event._id;
const body = JSON.parse(event.body);
const slug = body.slug;
const title = body.title;
const shortDescription_en = body.shortDescription_en;
const shortDescription_zh = body.shortDescription_zh;
const date = body.date;
const time = body.time;
const url = body.url;
const location = body.location;
const file = body.file;
const longDescription_en = body.longDescription_en;
const longDescription_zh = body.longDescription_zh;
%>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yuxuan Lin | Dashboard | Edit Event</title>
  <%- include('../../partials/head') %>
</head>

<body class="dashboard">
  <%- include('../../partials/aside') %>
  <script>
    document.querySelector('aside .middle ul li:nth-child(1) a')
      .classList.add('active');
  </script>
  <main>
    <h1 class="secondary-header">Edit Event</h1>
    <a href="/event/<%= slug %>" class="edit-link" target="_blank">
      <%= slug %>
      <i class="fa-solid fa-up-right-from-square"></i>
    </a>
    <%- include('../../partials/form', {
				metadata: {
					method: 'put',
					action: '/dashboard/events/' + id,
					enctype: 'multipart/form-data',
					id: id,
					name: 'event'
				},
				fields: [
					{ name: 'title', required: true, value: title },
					{ type: 'hidden', name: 'slug' },
					{ tag: 'textarea', name: 'shortDescription_en', label: 'short description (EN)', value: shortDescription_en, },
					{ tag: 'textarea', name: 'shortDescription_zh', label: 'short description (ZH)', value: shortDescription_zh, },
					{ type: 'date', value: date },
					{ type: 'time', value: time },
					{ type: 'url', label: 'URL', value: url },
					{ name: 'location', value: location },
					{ type: 'file', label: 'image', file: file },
					{ tag: 'textarea', name: 'longDescription_en', label: 'long description (EN)', value: longDescription_en, },
					{ tag: 'textarea', name: 'longDescription_zh', label: 'long description (ZH)', value: longDescription_zh, },
				]
			}) %>
  </main>
  <script src="/js/previewImage.js" defer></script>
</body>

</html>