<% const yuxuan = lang == 'zh' ? '林榆璇' : 'Yuxuan Lin' %>

<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('../partials/head') %>
  <title>Yuxuan Lin | Arranger</title>
  <script src="/js/search.js" defer></script>
</head>

<body>
  <%- include('../partials/header') %>
  <%- include('../partials/nav') %>

  <section name="arranger">
    <div class="wrapper">
      <%- JSON.parse(doc.body)['arranger_' + lang] %>
    </div>
  </section>

  <main class="pd-b-lg">



    <%- include('../sections/search') %>
    <% const tags = ['Orchestral', 'Chamber', 'Solo', 'Dance', 'Choral', 'Vocal', 'Electroacoustic', 'Film', 'Theatre', 'Installation', 'Other'] %>
    <% const tags_zh = ['管弦乐', '室内乐', '独奏', '舞蹈', '合唱', '声乐', '电子音乐', '电影', '戏剧', '装置', '其他']; %>
    <section class="work-list flex wrap gap column align-stretch">
      <% for (let j = 0; j < tags.length; j++) { %>
      <% const docsWithTag = data.filter(doc => JSON.parse(doc.body).tag === tags[j].toLowerCase()) %>
      <% if (docsWithTag.length > 0) { %>
      <div class="subsection">
        <h2 class="main-header"><%= lang == 'zh' ? tags_zh[j] : tags[j] %></h2>
        <div class="cards-wrapper flex gap align-start">
          <% for (let i = 0; i < docsWithTag.length; i++) { %>
          <% const body = JSON.parse(docsWithTag[i].body) %>
          <% const slug = body.slug %>
          <% const title = body['title_' + lang] %>
          <% const subtitle = body['subtitle_' + lang] %>
          <% const programNote = body['programNote_' + lang] %>
          <div class="card">
            <a href="/arrangements/<%= slug %>?lang=<%= lang %>">
              <div class="heading">
                <h3 class="third-header"><%= title %></h3>
                <% if (subtitle !== '') { %>
                <p class="<%= lang %>-txt"><%= subtitle %></p>
                <% } %>
              </div>
              <% if (programNote !== '') { %>
              <div class="description">
                <p><%- programNote %></p>
              </div>
              <% } %>
            </a>
          </div>
          <% } %>
        </div>
      </div>
      <% } %>
      <% } %>
    </section>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>