<% const yuxuan = lang == 'zh' ? '林榆璇' : 'Yuxuan Lin' %> <% const id =
data._id; const body = JSON.parse(data.body); const image = body.file.location;
const quote = body['quote_' + lang]; const bio = body['bio_' + lang]; %>

<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head') %>
    <title><%= yuxuan %> | <%= lang == 'zh' ? '个人简介' : 'Bio' %></title>
  </head>

  <body>
    <%- include('../partials/header') %> <%- include('../partials/nav') %>
    <main id="bio">
      <div class="img-parent flex justify-center items-center gap-8 p-8">
        <img src="<%= image %>" alt="headshot" class="md:w-2/5 rounded-sm" />
        <blockquote class="engraved leading-loose text-center <%= lang %>-txt md:w-3/5 px-4">
          &ldquo;<%= quote %>&rdquo;
        </blockquote>
      </div>
      <div class="txt--wrapper pd-md">
        <div
          class="txt flex justify-center items-center gap column align-stretch text-base font-serif leading-loose md:text-lg"
        >
          <%- bio %>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
