<% const yuxuan = lang == 'zh' ? '林榆璇' : 'Yuxuan Lin' %>

<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('../partials/head') %>
  <title><%= yuxuan %> | <%= lang == 'zh' ? '博客' : 'Blog' %></title>
</head>

<body>
  <%- include('../partials/header') %> <%- include('../partials/nav') %>

  <%
  if (posts.length === 0) {
  %>
    <div class="flex justify-center items-center gap-4 flex-col p-16">
      <h2 class="text-lg font-bold"><%= lang == 'zh' ? '还没有帖子...' : 'No posts yet...' %></h2>
      <p class="opacity-50"><%= lang == 'zh' ? '请稍后再回来查看' : 'Please check back later' %></p>
    </div>
  <%
  }
  %>

  <main class="p-8">
    <div class="flex justify-center gap-8 m-8 flex-wrap">
        <% posts.forEach((obj, index) => { %>
            <% const post = JSON.parse(obj.body) %>
            <div class='bg-slate-200 rounded-sm shadow md:max-w-[328px]'>
                <div class='p-4 bg-slate-300/50'>
                  <a href='/blog/<%= post.slug %>?lang=<%= lang %>'>
                    <h2 class="text-slate-800 font-bold text-lg"><%= post['title_' + lang] %></h2>
                  </a>
                </div>
                <div class='p-4'>
                  <div class="text-slate-950 font-light"><%- post['description_' + lang] %></div>
                </div>
                <a href='/blog/<%= post.slug %>?lang=<%= lang %>'>
                  <img src="<%= post.file.location %>" alt="<%= post.file.alt %>">
                </a>
                <div class='p-4'>
                  <p class='font-sans text-xs text-gray-600 font-extralight'>
                    <i class="fa-solid fa-user"></i> <%= post['author_' + lang] %> <%= new Date(post.date).toLocaleDateString(undefined, {year: 'numeric', month: 'long', day: 'numeric'}) %>
                  </p>
                </div>
              </div>
        <% }) %>
        
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>