<% const yuxuan = lang == 'zh' ? '林榆璇' : 'Yuxuan Lin' %>

<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('../partials/head') %>
  <title><%= yuxuan %> | <%= lang == 'zh' ? '联系' : 'Contact' %></title>
</head>

<body>
  <%- include('../partials/header') %> <%- include('../partials/nav') %>

  <main name="contact" class='max-w-[800px] mx-auto'>
    <div class="space-y-8 p-6 xs:p-8">
      <h2 class="text-center font-bold text-xl font-serif"><%= lang == 'zh' ? '欢迎随时联系' : 'Feel Free to Get in Touch' %></h2>
      <p class='text-center'><%= lang == 'zh' ? '此表用于委托新作品、合作项目和/或其他咨询' : 'for commissioning new work, collaborations and/or other inquiries' %></p>
      <form action="/mailsend" method="post" class="form contact-form" novalidate>
        <div class="item">
          <div class="subitem">
            <label for="name">
              <%= lang == 'zh' ? '姓名*' : 'Name*' %>
            </label>
            <input type="text" name="name" required />
          </div>
          <div class="subitem">
            <label for="email">
              <%= lang == 'zh' ? '邮箱*' : 'Email*' %>
            </label>
            <input type="text" name="email" required />
          </div>
        </div>
        <div class="item">
          <div class="subitem">
            <label for="subject">
              <%= lang == 'zh' ? '主题*' : 'Subject*' %>
            </label>
            <input type="text" name="subject" required />
          </div>
        </div>
        <div class="item">
          <div class="subitem">
            <label for="message">
              <%= lang == 'zh' ? '信息' : 'Message' %>
            </label>
            <textarea name="message" id="" cols="30" rows="10"></textarea>
          </div>
        </div>
        <div class="item">
          <div class="subitem">
            <label for="auth">2 + 1 = ?</label>
            <input type="text" name="auth" required />
          </div>
        </div>
        <div class="item">
          <div class="subitem">
            <button type="submit" class="btn btn-primary">
              <%= lang == 'zh' ? '发送' : 'Send' %> <i class="fa-solid fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>