<%
const body = JSON.parse(event.body);
const title = body.title;
const image = body.file ? body.file.filename : null;
const date = body.date;
const time = body.time;
const location = body.location;
const shortDescription = body['shortDescription_' + lang];
const longDescription = body['longDescription_' + lang];
%>

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Yuxuan Lin | <%= title %></title>
		<%- include('../partials/head') %>
	</head>

	<body>
		<%- include('../partials/header') %>
		<%- include('../partials/nav') %>
		<script>
			document.querySelector( 'nav ul li:nth-child(5) a' )
				.classList.add( 'active' );
		</script>
		<main id="event">
			<div class="banner">
				<div class="image-container">
					<% if (image) { %>
					<img src="/uploads/<%= image %>" alt="" />
					<% } %>
				</div>
			</div>
			<div class="header">
				<h1 class="event-header"><%= title %></h1>
				<span class="date"><%= date %></span>
				<span class="time"><%= time %></span>
				<span class="location"><%= location %></span>
			</div>
			<div class="content"><%- longDescription || '' %></div>
		</main>
		<%- include('../partials/footer') %>
	</body>

	<script></script>

</html>

<script type="module">
	import {
		convertTime
	} from '../js/utils.js';
	import {
		formatDate
	} from '../js/utils.js';

	// Convert time to 12 hour format
	const timeElement = document.querySelector( 'span.time' );
	if ( timeElement ) {
		timeElement.innerText = convertTime( timeElement.innerText );
	}

	// Format date
	const dateElement = document.querySelector( 'span.date' );
	if ( dateElement ) {
		dateElement.innerText = formatDate( dateElement.innerText );
	}
</script>