<%
const yuxuan = lang == 'zh' ? '林榆璇' : 'Yuxuan Lin';
%>

<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('../partials/head') %>
  <title><%= yuxuan %> | Events</title>
</head>

<body>
  <%- include('../partials/header') %>
  <%- include('../partials/nav') %>
  <main id="events" data-cli>
    <div class="container pd-md flex gap align-start wrap">
      <% for (let i = 0; i < events.length; i++) { %>
      <% 
      const body = JSON.parse(events[i].body);
      const title = body['title_' + lang];
      const slug = body.slug;
      const image = body.file.location;
      const date = body.date;
      const dateObject = new Date(date);
      const time = body.time;
      const location = body['location_' + lang];
      const shortDescription = body['shortDescription_' + lang];
      %>
      <div class="card">
        <a href="/event/<%= slug %>">
          <div class="image-container">
            <img src="<%= image %>" alt="" />
          </div>
        </a>
        <div class="content">
          <h3 class="title">
            <a href="/event/<%= slug %>"><%= title %></a>
          </h3>

          <% if (date) { %>
          <span class="date <%= lang %>-txt">
            <% if (lang === 'en') { %>
            <%= dateObject.toLocaleString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %>
            <% } else { %>
            <%= dateObject.toLocaleString('zh-TW', { year: 'numeric', month: 'long', day: 'numeric' }) %>
            <% } %>
          </span>
          <% } %>

          <% if (time) { %>
          <span class="time <%= lang %>-txt"><%= time %></span>
          <% } %>

          <% if (location) { %>
          <span class="location <%= lang %>-txt"><%= location %></span>
          <% } %>

          <div><%- JSON.parse(events[i].body)['shortDescription_' + lang] %></div>
        </div>
      </div>
      <% } %>
    </div>
  </main>
  <%- include('../partials/footer') %>
  <script type="module">
    import {
      formatTime
    } from '../js/utils.js';

    document.querySelectorAll('#events[data-cli] .card').forEach(card => {
      // Convert time to 12-hour format
      const time = card.querySelector('span.time');
      if (time) {
        time.innerText = formatTime(time.innerText, document.querySelector('html').lang);
      }
    });
  </script>
</body>

</html>