<% const yuxuan = lang == 'zh' ? '林榆璇' : 'Yuxuan Lin' %>
<% 
  const body = JSON.parse(event.body); 
  const title = body['title_' + lang]; 
  const image = body.file ? body.file.location : null; 
  const date = body.date; 
  const dateObject = new Date(date); 
  const time = body.time; 
  const location = body['location_' + lang];
  const url = body.url;
  const work = body['work_' + lang];
  const performers = body['performers_' + lang];
  const order = body.order;

  const shortDescription = body['shortDescription_' + lang]; 
  const longDescription = body['longDescription_' + lang]; 
%>

<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yuxuan Lin | <%= title %></title>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/header') %> 
    <%- include('../partials/nav') %>
    <main id="event" class="pd-b-lg">
      <div class="banner sm:pt-16 bg-main">
        <div class="image-container">
          <% if (image) { %>
            <img src="<%= image %>" alt="" />
          <% } %>
        </div>
      </div>
      <div class="header">
        <h1 class="event-header"><%= title %></h1>
        <div class="info space-y-8">
          <% if (date || time || location) { %>
            <div>
              <% if (date) { %>
                <span class="date"><%= date.toLocaleString('en-US') %></span>
              <% } %>
              <% if (time) { %>
                <span class="time"><%= time %></span>
              <% } %>
              <% if (location) { %>
                <span><%= location %></span>
              <% } %>
            </div>
          <% } %>
          <% if (url) { %>
            <a href="<%= url %>" target='_blank' class='inline-block bg-purple-500 text-white font-sans text-sm rounded py-2 px-3 my-4 hover:bg-purple-400'>Event Link</a>
          <% } %>
          <% if (work) { %>
            <div class='font-sans'>Featured work: <strong><%= work %></strong></div>
          <% } %>
          <% if (performers) { %>
            <div class='font-sans'><%- performers %></div>
          <% } %>
          <% if (order) { %>
            <div class='font-sans'><%= lang == 'zh' ? '节目单序次:' : 'Order on Program:' %> <strong><%= order %></strong></div>
          <% } %>
        </div>
      </div>
      <div class="content font-serif"><%- longDescription || '' %></div>
    </main>
    <%- include('../partials/footer') %>
  </body>

  <script></script>
</html>

<script type="module">
  import { convertTime } from '../js/utils.js';
  import { formatDate } from '../js/utils.js';

  // Convert time to 12 hour format
  let timeElement = document.querySelector('span.time');
  if (timeElement) {
    timeElement.innerText = convertTime(timeElement.innerText);
  }

  // Format date
  let dateElement = document.querySelector('span.date');
  if (dateElement) {
    dateElement.innerText = formatDate(dateElement.innerText);
  }
</script>
