<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('../partials/head') %>
		<title>Yuxuan Lin | Events</title>
	</head>

	<body>
		<%- include('../partials/header') %>
		<%- include('../partials/nav') %>
		<script>
			document.querySelector( 'nav ul li:nth-child(5) a' )
				.classList.add( 'active' );
		</script>
		<main id="events" data-cli>
			<div class="container">
				<% for (let i = 0; i < events.length; i++) { %>
				<% 
          const body = JSON.parse(events[i].body);
          const title = body.title;
          const slug = body.slug;
          const image = body.file.filename;
          const date = body.date;
          const time = body.time;
          const location = body.location;
          const shortDescription = body['shortDescription_' + lang];
        %>
				<div class="card">
					<a href="/event/<%= slug %>">
						<div class="image-container">
							<img src="/uploads/<%= image %>" alt="" />
						</div>
					</a>
					<div class="content">
						<h3 class="title">
							<a href="/event/<%= slug %>"><%= title %></a>
						</h3>
						<span class="date"><%= date.toLocaleString('en-US') %></span>
						<span class="time"><%= time %></span>
						<span class="location"><%= location %></span>
						<p><%- JSON.parse(events[i].body)['shortDescription_' + lang] %></p>
					</div>
				</div>
				<% } %>
			</div>
		</main>
		<%- include('../partials/footer') %>
		<script type="module">
			import {
				convertTime,
				formatDate
			} from '../js/utils.js';

			document.querySelectorAll( '#events[data-cli] .card' )
				.forEach( card => {
					// Convert time to 12 hour format
					card.querySelector( 'span.time' )
						.innerText = convertTime( card.querySelector( 'span.time' )
							.innerText );

					// Format date
					card.querySelector( 'span.date' )
						.innerText = formatDate( card.querySelector( 'span.date' )
							.innerText );
				} );
		</script>
	</body>

</html>