<% const yuxuan = lang == 'zh' ? '林榆璇' : 'Yuxuan Lin' %>

<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head') %>
    <title><%= yuxuan %> | <%= lang == 'zh' ? '链接' : 'Links' %></title>
  </head>

  <body>
    <%- include('../partials/header') %> <%- include('../partials/nav') %>

    <main class="max-w-lg mx-auto p-8">
    
      <section class="space-y-8">


        <%
    let groupedLinks = {};
    links.forEach(link => {
        const body = JSON.parse(link.body);
        const tag = body.tag || 'Additional Links';
        if (!groupedLinks[tag]) {
            groupedLinks[tag] = [];
        }
        groupedLinks[tag].push(link);
    });

    for (let tag in groupedLinks) {
        groupedLinks[tag].sort((a, b) => {
            const titleA = JSON.parse(a.body).title.toLowerCase();
            const titleB = JSON.parse(b.body).title.toLowerCase();
            return titleA < titleB ? -1 : (titleA > titleB ? 1 : 0);
        });
    }
%>

<% for (let tag in groupedLinks) { %>
    <div class="tag-group flex gap-8">
        <h2 class="font-sans capitalize text-lg"><%= tag %></h2>
        <div class="links-container space-y-2"> <!-- Container for flex styling -->
            <% groupedLinks[tag].forEach(link => { %>
                <% const body = JSON.parse(link.body); %>
                <div class="link-item font-sans">
                    <a href="<%= body.url %>" target='_blank' class='text-blue-400/90'><%= body.title %></a><span class='text-slate-50/50'>, <%= body['description_' + lang] %></span>
                  </div>
                  <% }); %>
                  </div>
                    </div>
              
              <% } %>



      </section>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
