<% const yuxuan = lang == 'zh' ? '林榆璇' : 'Yuxuan Lin' %>

<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head') %>
    <title><%= yuxuan %> | Links</title>
  </head>

  <body>
    <%- include('../partials/header') %> <%- include('../partials/nav') %>

    <main class="max-w-lg mx-auto p-8">
    <h1 class="text-lg mb-8 font-bold font-serif">Related Links</h1>
    <section class='space-y-4'>
      <% links.forEach(link => { %> <% const body = JSON.parse(link.body) %>
    
        <div>
            <span class='mr-2'>&#8226;</span>
            <a href="<%= body.url %>" target='_blank' class='hover:text-white hover:underline text-slate-200 font-sans'><%= body.title %> <span class='text-slate-50/50 font-extralight'>(<%= body.url %>)</span></a>
            <div class='border-l-2 border-orange-800/50 ml-6 pl-6 mt-4 font-serif text-slate-50/75 font-light'><%- body['description_' + lang] %></div>
        </div>

      <%
      }) %>
      </section>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
