<% const yuxuan = lang == 'zh' ? '林榆璇' : 'Yuxuan Lin' %>

<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head') %>
    <script src="/js/search.js" defer></script>
    <title><%= yuxuan %> | Works</title>
  </head>

  <body>
    <%- include('../partials/header') %> <%- include('../partials/nav') %>
    <main class="pd-b-lg">
      <%- include('../sections/search') %> <% const tags = ['Orchestral',
      'Chamber', 'Solo', 'Dance', 'Choral', 'Vocal', 'Electroacoustic', 'Film',
      'Theatre', 'Installation', 'Other'] %> <% const tags_zh = ['管弦乐',
      '室内乐', '独奏', '舞蹈', '合唱', '声乐', '电子音乐', '电影', '戏剧',
      '装置', '其他']; %>
      <section
        class="work-list flex flex-col justify-center items-stretch wrap gap column mt-4"
      >
        <% for (let j = 0; j < tags.length; j++) { %> <% const worksWithTag =
        data.filter(doc => JSON.parse(doc.body).tag === tags[j].toLowerCase())
        %> <% if (worksWithTag.length > 0) { %>
        <div class="subsection bg-slate-800">
          <h2 class="main-header text-2xl text-slate-300">
            <%= lang == 'zh' ? tags_zh[j] : tags[j] %>
          </h2>
          <div class="cards-wrapper flex justify-center items-start gap">
            <% for (let i = 0; i < worksWithTag.length; i++) { %> <% const body
            = JSON.parse(worksWithTag[i].body) %> <% const slug = body.slug %>
            <% const title = body['title_' + lang] %> <% const subtitle =
            body['subtitle_' + lang] %> <% const programNote =
            body['programNote_' + lang] %>
            <div class="card bg-slate-600">
              <a href="/works/<%= slug %>?lang=<%= lang %>">
                <div class="heading">
                  <h3 class="third-header"><%= title %></h3>
                  <% if (subtitle !== '') { %>
                  <p class="<%= lang %>-txt"><%= subtitle %></p>
                  <% } %>
                </div>
                <% if (programNote !== '') { %>
                <div class="description">
                  <p><%- programNote %></p>
                </div>
                <% } %>
              </a>
            </div>
            <% } %>
          </div>
        </div>
        <% } %> <% } %>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
