<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('../partials/head') %>
		<script src="/js/search.js" defer></script>
		<title>Yuxuan Lin | Works</title>
	</head>

	<body>
		<%- include('../partials/header') %>
		<%- include('../partials/nav') %>
		<script>
			document.querySelector( 'nav ul li:nth-child(3) a' )
				.classList.add( 'active' );
		</script>
		<main id="works">
			<%- include('../sections/search') %>
			<% const tags = ['Orchestral', 'Chamber', 'Solo', 'Dance', 'Choral', 'Vocal', 'Electroacoustic', 'Film', 'Theatre', 'Installation', 'Other'] %>
			<section id="work-list" class="flex wrap gap column align-stretch">
				<% for (let j = 0; j < tags.length; j++) { %>
				<% const worksWithTag = works.filter(work => JSON.parse(work.body).tag === tags[j].toLowerCase()) %>
				<% if (worksWithTag.length > 0) { %>
				<div class="subsection">
					<h2 class="main-header"><%= tags[j] %></h2>
					<div class="cards-wrapper flex gap align-start">
						<% for (let i = 0; i < worksWithTag.length; i++) { %>
						<% const body = JSON.parse(worksWithTag[i].body) %>
						<% const slug = body.slug %>
						<% const title = body.title %>
						<% const subtitle = body.subtitle %>
						<% const programNote = body['programNote_' + lang] %>
						<div class="card">
							<a href="/work/<%= slug %>">
								<div class="heading">
									<h3 class="third-header"><%= title %></h3>
									<% if (subtitle !== '') { %>
									<p><%= subtitle %></p>
									<% } %>
								</div>
								<% if (programNote !== '') { %>
								<div class="description">
									<p><%- programNote %></p>
								</div>
								<% } %>
							</a>
						</div>
						<% } %>
					</div>
				</div>
				<% } %>
				<% } %>
			</section>
		</main>
		<%- include('../partials/footer') %>
	</body>

</html>