<%
const id = metadata.id ? metadata.id : '';
const method = metadata.method ? metadata.method : 'GET';
const action = metadata.action;
const name = metadata.name ? metadata.name : '';
const display = metadata.display ? metadata.display : name.slice(0, -1);
const enctype = metadata.enctype ? metadata.enctype : 'application/x-www-form-urlencoded';
%>

<div class="dashboard-form--wrapper pd-md">
  <form class="form dashboard-form handle-form-submission" action="<%= action %>" data-method="<%= method %>" data-id="<%= id %>" enctype="<%= enctype %>" name="<%= name %>" data-display="<%= display %>" novalidate>

    <div class="header flex justify-between pd-sm">
      <div>
        <h2 class="dashboard-header"><%= method.toLowerCase() === 'post' ? 'Add' : 'Edit' %> <%= display %></h2>
      </div>
      <div class="flex justify-end gap-sm">
        <div>
          <button type="button" class="btn no-btn" onclick="window.history.back()">Cancel</button>
        </div>
        <div>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
        <% if (metadata.saveAndAddNew !== false) { %>
        <div>
          <button type="submit" class="btn btn-success" data-response-action="save_and_add_new">Save and Add New</button>
        </div>
        <% } %>
      </div>
    </div>

    <div class="content pd-sm">
      <% fields.forEach(field => {
        const tag = field.tag ? field.tag : 'input';
        const type = field.type ? field.type : 'text';
        const name = field.name ? field.name : type;
        const role = field.role ? field.role : '';
        const label = field.label ? field.label : name;
        const value = field.value ? field.value : '';
        const required = field.required ? true : false;
        const file = field.file ? field.file : {};
        const selector = field.selector ? field.selector : name;
        const height = field.height ? field.height : 300;
        if (tag === 'input') {
          if (type === 'hidden') {
            %><input type="hidden" name="<%= name %>" /><%
          } else {
            %>
      <div class="item">
        <div class="subitem">
          <label for="<%= name %>" <% if (type === 'file') { %> class="file-upload" <% } %>><%= label %><% if (type === 'file') { %> <i class="mg-l-xs fa fa-upload"></i> <% } %></label>
          <input type="<%= type %>" name="<%= name %>" id="<%= name %>" role="<%= role %>" value="<%= value %>" <%= required ? 'data-required' : '' %> autocomplete="off" <% if (type === 'file') { %> accept="image/*" <% } %> />
          <% if (type === 'file') { %>
          <div class="preview">
            <img src="<%= file.location %>" alt="" />
            <input type="text" class="mg-t-sm" value="<%= file.alt %>" placeholder="Image description..." name="<%= name + '-alt' %>" novalidate>
          </div>
          <% } %>
        </div>
      </div>
      <%
          }
        }
        if (tag === 'textarea') {
          %>
      <div class="item">
        <div class="subitem">
          <label for="<%= name %>"><%= label %></label>
          <textarea name="<%= name %>" role="<%= role %>" data-tinymce="<%= name %>" <%= required ? 'data-required' : '' %>></textarea>
          <script>
            tinymce.init({
              selector: 'textarea[data-tinymce="<%= name %>"]',
              height: '<%= height %>',
              plugins: 'advlist anchor autolink charmap code emoticons fullscreen help image insertdatetime media nonbreaking link lists quickbars searchreplace table visualblocks visualchars wordcount',
              quickbars_insert_toolbar: false,
              toolbar: 'undo redo | formatselect | bold italic underline strikethrough | forecolor backcolor | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | link image media | removeformat | fullscreen',
              default_link_target: '_blank',
              setup: function(editor) {
                editor.on('init', function() {
                  editor.setContent(`<%- value %>`);
                });
              },
            });
          </script>
        </div>
      </div>
      <%
        }
        if (tag === 'select') {
          %>
      <div class="item">
        <div class="subitem">
          <label for="<%= name %>"><%= label %></label>
          <select name="<%= name %>" autocomplete="off" <%= required ? 'data-required' : '' %>>
            <% if (value === '') { %>
            <option value="" selected>Please Choose An Option</option>
            <% } else { %>
            <option value="">Please Choose An Option</option>
            <% }
                for (let i = 0; i < field.options.length; i++) {
                  if (value === field.options[i].toLowerCase()) { %>
            <option value="<%= field.options[i].toLowerCase() %>" selected><%= field.options[i] %></option>
            <% } else { %>
            <option value="<%= field.options[i].toLowerCase() %>"><%= field.options[i] %></option>
            <% }
                } %>
          </select>
        </div>
      </div>
      <%
        }
      }) %>
    </div>

  </form>
</div>