<%
const id = metadata.id ? metadata.id : '';
const method = metadata.method ? metadata.method : 'GET';
const action = metadata.action;
const name = metadata.name ? metadata.name : '';
const enctype = metadata.enctype ? metadata.enctype : 'application/x-www-form-urlencoded';
%>

<form class="dashboard-form handle-form-submission" action="<%= action %>" data-method="<%= method %>" data-id="<%= id %>" enctype="<%= enctype %>" name="<%= name %>">
  <% fields.forEach(field => {
    const tag = field.tag ? field.tag : 'input';
    const type = field.type ? field.type : 'text';
    const name = field.name ? field.name : type;
    const role = field.role ? field.role : '';
    const label = field.label ? field.label : name;
    const value = field.value ? field.value : '';
    const required = field.required ? true : false;
    const file = field.file ? field.file : {};
    const selector = field.selector ? field.selector : name;
    const height = field.height ? field.height : 300;

    if (tag === 'input') {
      if (type === 'hidden') {
        %><input type="hidden" name="<%= name %>" /><%
      } else {
        %>
  <div class="item">
    <div class="subitem">
      <label for="<%= name %>"><%= label %></label>
      <input type="<%= type %>" name="<%= name %>" role="<%= role %>" value="<%= value %>" <%= required ? 'required' : '' %> />
      <% if (type === 'file') { %>
      <div class="preview">
        <img src="/uploads/<%= file.filename %>" alt="" />
      </div>
      <% } %>
    </div>
  </div>
  <%
      }
    }

    if (tag === 'textarea') {
      %>
  <div class="item">
    <div class="subitem">
      <label for="<%= name %>"><%= label %></label>
      <textarea name="<%= name %>" role="<%= role %>" data-tinymce="<%= name %>"></textarea>
      <script>
        tinymce.init({
          selector: 'textarea[data-tinymce="<%= name %>"]',
          skin: 'oxide-dark',
          content_css: 'dark',
          height: '<%= height %>',
          plugins: 'advlist anchor autolink autoresize charmap code emoticons fullscreen help hr image insertdatetime media nonbreaking link lists paste print quickbars searchreplace tabfocus table visualblocks visualchars wordcount',
          quickbars_insert_toolbar: false,
          toolbar: 'undo redo | formatselect | bold italic underline strikethrough | forecolor backcolor | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | link image media | removeformat | fullscreen',
          default_link_target: '_blank',
          setup: function(editor) {
            editor.on('init', function() {
              editor.setContent(`<%- value %>`);
            });
          },
        });
      </script>
    </div>
  </div>
  <%
    }

    if (tag === 'select') {
      %>
  <div class="item">
    <div class="subitem">
      <label for="<%= name %>"><%= label %></label>
      <select name="<%= name %>" autocomplete="off" lang="<%= lang %>">
        <% if (value === '') { %>
        <option value="" selected>Please Choose An Option</option>
        <% } else { %>
        <option value="">Please Choose An Option</option>
        <% }

            for (let i = 0; i < field.options.length; i++) { 
              if (value === field.options[i].toLowerCase()) { %>
        <option value="<%= field.options[i].toLowerCase() %>" selected><%= field.options[i] %></option>
        <% } else { %>
        <option value="<%= field.options[i].toLowerCase() %>"><%= field.options[i] %></option>
        <% } 
            } %>
      </select>
    </div>
  </div>
  <%
    }

  }) %>
  <div class="item flex justify-end gap">
    <div class="subitem">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
    <div class="subitem">
      <button type="reset" class="btn btn-danger">Cancel</button>
    </div>
  </div>
</form>