<%
const mediaDoc = JSON.parse(media.body);
const mediaImage = mediaDoc.file.location;
const mediaAlt = mediaDoc.file.alt;
const id = media._id;
const title = mediaDoc['title_' + lang];
const subtitle = mediaDoc['subtitle_' + lang];
const shortDescription = mediaDoc['shortDescription_' + lang];
const slug = mediaDoc.slug;
%>

<section id="intro" class="pd-md">
  <div class="card flex gap align-start">
    <div class="block">
      <img src="<%= mediaImage %>" alt="<%= mediaAlt %>" />
    </div>
    <div class="block">
      <div class="text">
        <h2 class="title fourth-header">
          <%= lang == 'zh' ? '介绍...' : 'Introducing...' %>
        </h2>
        <h3 class="subtitle <%= lang %>-txt"><%= title %></h3>
        <p class="description">
          <%- shortDescription %>
        </p>
      </div>
    </div>
  </div>
  <a href="/media/<%= slug %>?lang=<%= lang %>">
    <%= lang == 'zh' ? '阅读更多...' : 'Read more...' %>
  </a>
</section>