<%
const workDoc = JSON.parse(work.body);
const workImage = workDoc.file.location;
const workAlt = workDoc.file.alt;
const id = work._id;
const title = workDoc['title_' + lang];
const subtitle = workDoc['subtitle_' + lang];
const shortProgramNote = workDoc['shortProgramNote_' + lang];
const slug = workDoc.slug;
%>

<section id="intro" class="pd-md">
  <div class="card flex justify-center items-center gap-8">
    <div class="block">
      <img src="<%= workImage %>" alt="<%= workAlt %>" />
    </div>
    <div class="block">
      <div class="text">
        <h2 class="title fourth-header">
          <%= lang == 'zh' ? '介绍' : 'Introducing' %>
        </h2>
        <h3 class="subtitle <%= lang %>-txt"><%= title %></h3>
        <p class="description"><%- shortProgramNote %></p>
        <p>
          <a href="/works/<%= slug %>?lang=<%= lang %>">
            <%= lang == 'zh' ? '阅读更多...' : 'read more...' %>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
