<% const body = JSON.parse(work.body) %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yuxuan Lin | Dashboard | Edit Event</title>
    <%- include('../../partials/head') %>
  </head>
  <body class="dashboard">
    <%- include('../../partials/aside') %>
    <script>
      document.querySelector('aside .middle ul li:nth-child(2) a').classList.add('active');
    </script>
    <main>
      <h1 class="secondary-header">Edit Work</h1>
      <a href="/work/<%= JSON.parse(work.body).slug %>" class="edit-link" target="_blank">
        <%= JSON.parse(work.body).slug %>
        <i class="fa-solid fa-up-right-from-square"></i>
      </a>
      <%- include('../../partials/form', { metadata: { method: 'put', action: '/dashboard/works/' + work._id, name: 'work' }, fields: [ { name: 'title', required: true, value: body.title }, { type: 'hidden', name: 'slug' }, {name:'subtitle', value: body.subtitle}, {tag: 'select', name: 'tag', options: ['Orchestral', 'Chamber', 'Solo', 'Dance', 'Choral'], value: body.tag} , {name:'instrumentation',label:`detailed insturmentation (fl.cl...)`, value: body.instrumentation},{name:'duration', value: body.duration},{name:'year', value: body.year},{tag:'textarea',name:'commission',label:'commission information', value: body.commission},{tag:'textarea',name:'programNote',label:'program note', value: body.programNote},{tag:'textarea',name:'performanceNote',label:'performance note', value: body.performanceNote},{type:'url',name:'url',label:'URL to purchase music', value: body.url} ] }) %>
    </main>

    <script src="/js/previewImage.js" defer></script>
  </body>
</html>
